* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v10_5 {
  width: 100%;
  height: 832px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_18 {
  width: 215px;
  height: 747px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 1036px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0.7006648182868958, 0.7006648182868958, 0.7006648182868958, 0.25);
  overflow: hidden;
}
.v19_19 {
  width: 100%;
  height: 782px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 29px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0.7006648182868958, 0.7006648182868958, 0.7006648182868958, 0.25);
  overflow: hidden;
}
.v19_21 {
  width: 343px;
  height: 250px;
  background: url("../images/v19_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 155px;
  overflow: hidden;
}
.v19_22 {
  width: 469px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 389px;
  left: 136px;
  font-family: Cabinet Grotesk;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.v35_6 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 59px;
  left: 1131px;
  font-family: Psygen DEMO;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: justified;
}
.v19_23 {
  width: 469px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 389px;
  left: 675px;
  font-family: Cabinet Grotesk;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.v24_42 {
  width: 20px;
  height: 668px;
  background: url("../images/v24_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 59px;
  overflow: hidden;
}
.v24_38 {
  width: 20px;
  height: 20px;
  background: rgba(143,143,143,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v24_39 {
  width: 20px;
  height: 20px;
  background: rgba(143,143,143,1);
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 0px;
  border-radius: 50%;
}
.v24_40 {
  width: 20px;
  height: 20px;
  background: rgba(143,143,143,1);
  opacity: 1;
  position: absolute;
  top: 432px;
  left: 0px;
  border-radius: 50%;
}
.v24_41 {
  width: 20px;
  height: 20px;
  background: rgba(143,143,143,1);
  opacity: 1;
  position: absolute;
  top: 648px;
  left: 0px;
  border-radius: 50%;
}
.v31_6 {
  width: 36px;
  height: 92px;
  background: url("../images/v31_6.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 292px;
  border: 4px solid rgba(173,173,173,1);
  transform: rotate(-10deg);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
